# Core data & ML
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
xgboost==2.0.3
shap==0.45.1
joblib==1.4.2
plotly==5.18.0 

# Visualisation
matplotlib==3.8.4
seaborn==0.13.2

# App
streamlit==1.35.0

# Synthetic data generation
faker==25.2.0

# Testing
pytest==8.2.1

# Code quality
black==24.4.2
ruff==0.4.5
